<h2>Create and host a new project</h2>

<form name="appEditForm">

  <div class="control-group project">
    <label>Project</label>
    <label class="radio">
      <input ng-model="repo_template" type="radio" name="repo_template" value="drupal-7" required>
      Drupal 7
    </label>
    <label class="radio">
      <input ng-model="repo_template" type="radio" name="repo_template" value="empty" required>
      Empty project
    </label>
  </div>
 
  <div class="control-group url" ng-class="{error: appEditForm.uri.$invalid}">
    <label>URL</label>
    <div suffixed-url-field="true" name="uri" ng-model="app.instances.prod.uris[0]" required>
    </div>

    <span ng-show="appEditForm.uri.$error.required" class="help-inline">
        Required</span>
  </div>

  <label>Plan</label>
  <label class="radio" ng-class="{muted: free_plan_available() == false}">
    <input ng-model="app.plan" type="radio" name="plan" value="free" ng-disabled="free_plan_available() == false">
    Free - €0/month <small ng-hide="free_plan_available()">(You can use this plan for 1 project only)</small>
  </label>
  <label class="radio">
    <input ng-model="app.plan" type="radio" name="plan" value="small">
    Small - €30/month
  </label>
 
  <br>
  <a href="/" class="btn">Cancel</a>
  <button ng-click="submitDisabled = true; save()" ng-disabled="isClean() || appEditForm.$invalid || submitDisabled" class="btn btn-primary">Save</button>
</form>