
<h2>My GitHub projects</h2>

<table class="table table-striped apps">
  <thead>
    <tr><th>Name</th><th>URL</th><th>Actions</th></tr>
  </thead>
  <tbody>

    <tr ng-repeat="repo in repos">
      <td>{{repo.location}}</td>
      <td>
        <a ng-show="repo.app" href="http://{{repo.app.instances[0].uris[0]}}" target="_blank">http://{{repo.app.instances[0].uris[0]}}</a>
        <a ng-show="repo.app == null" class="btn" href="/repo/{{repo.location}}/host">Host</a>
      </td>
      <td>
        <a ng-show="repo.app" class="btn" href="/app/{{repo.app.name}}">Manage</a>
      </td>
    </tr>

  </tbody>
</table>

<div data-loading></div>

<!-- <a href="/new" role="button" class="btn">Create new app</a> -->