<div class="span8">
  <legend>Source code</legend>
  <div class="input-prepend">
    <span class="add-on">SSH</span>
    <input type="text" value="{{app.repo.url}}" readonly="readonly" size="60">
  </div>
</div>

<div class="span2">
  <a class="btn btn-large" href="http://{{app.instances[0].uris[0]}}/" target="_blank" style="margin-bottom:5px">Go to website &gt;</a>
  <a class="btn btn-mini" href="http://{{app.instances[0].uris[0]}}/install.php" target="_blank">install.php</a>
  <a class="btn btn-mini" href="http://{{app.instances[0].uris[0]}}/update.php" target="_blank">update.php</a>
</div>