<div class="span8">
  <legend>Currently hosted</legend>

  <div ng-show="app.instances.prod.code" class="currently-hosted">

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="{{app.instances.prod.code.author.avatar}}">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{app.instances.prod.code.message}}</h4>
        {{app.instances.prod.code.author.name}} - {{app.instances.prod.code.authored_date}}
      </div>
    </div>
    <div>
      <a href="https://github.com/{{repo.location}}/commits/master" target="_blank">View code history</a>
    </div>
  </div>
</div>

<!-- <div class="span2">
  <a class="btn btn-large" href="http://{{app.instances.prod.uris[0]}}/" target="_blank" style="margin-bottom:5px">Go to website &gt;</a>
  <a class="btn btn-mini" href="http://{{app.instances.prod.uris[0]}}/install.php" target="_blank">install.php</a>
  <a class="btn btn-mini" href="http://{{app.instances.prod.uris[0]}}/update.php" target="_blank">update.php</a>
</div> -->