<div class="span8" ng-controller="ViewConfigureProjectCtrl">

  <form class="form-inline">
    <legend>Settings</legend>
    <label>Application name</label>
    <input type="text" ng-model="app.label" />
    <button type="button" class="btn" ng-click="update()">Rename</button>
  </form>


  <form>
    <legend>Plan</legend>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Plan</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Small</td>
          <td>€30/month</td>
          <td>
            <button class="btn hidden" ng-show="app.plan == 'free'" ng-click="updatePlan('small')">Upgrade</button><span class="label label-info">Not yet available!</span>
            <div ng-show="app.plan == 'small'">Your plan</div>
          </td>
        </tr>
        <tr>
          <td>Free</td>
          <td>€0/month</td>
          <td>
            <button class="btn" ng-show="app.plan == 'small'" ng-click="updatePlan('free')">Downgrade</button>
            <div ng-show="app.plan == 'free'">Your plan</div>
          </td>
        </tr>
      </tbody>

    </table>
  </form>

  <!-- Adding card Modal -->
  <div ng-include="angular_templates_path + 'partials/widget-credit-card-popup.html'"></div>

  <form>
    <legend>Danger zone</legend>
    <button type="button" class="btn btn-danger delete pull-right" ng-click="destroy()">Shutdown hosting</button>
    <label>Shutdown hosting of the project</label>
    <span class="help-block">Delete the database, shutdown the production hosting, and all other development instances. Your <a href="https://github.com/{{repo.location}}" target="_blank">code repository at GitHub</a> will remain untouched.</span>


  </form>
</div>