<div class="span8" ng-controller="SettingsCardsCtrl">
  <legend>Credit cards</legend>
  

  <table ng-show="cards.length" class="table table-striped cardlist">
    <thead>
      <tr>
        <th>Type</th>
        <th>Number</th>
        <th>Expiration date</th>
        <th></th>
      </tr>
    </thead>

    <tr ng-repeat="card in cards">
      <td>
        <div class="card-{{card.type}}-icon"></div>
      </td>
      <td>
        XXXX XXXX XXXX {{card.last4}}
      </td>
      <td>
        {{card.expire_month}}/{{card.expire_year}}
      </td>
      <td>
        <button class="btn btn-danger" ng-click="removeCard(card)">Remove</button>
      </td>
    </tr>
  </table>


  <div ng-show="cards.length == 0">
    No credit cards registered.
  </div>

</div>
